* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: rgb(255, 193, 7);
  --second-color: rgb(34, 40, 49);
}

.container {
  max-width: 1140px !important;
  padding-inline: 15px !important;
}

#header {
  background: url("https://html.design/demo/feane/images/hero-bg.jpg");
  background-size: cover; /* Hoặc contain */
  background-position: center;
  background-repeat: no-repeat;
}

.font-edu {
  font-family: "Edu VIC WA NT Beginner", cursive !important;
}

/* navbar primary */
.nav-item:hover > a {
  color: var(--primary-color) !important;
}

#header .badge {
  font-size: 10px !important;
}

/* carousel */
.embla-carousel .embla {
  overflow: hidden;
}
.embla-carousel .embla__container {
  display: flex;
}
.embla-carousel .embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla-carousel .embla__dots {
  display: flex;
  justify-content: start;
}

.embla-carousel .embla__dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.embla-carousel .embla__dot.is-selected {
  background-color: var(--primary-color);
  width: 15px;
  height: 15px;
}

.btn-order {
  border-radius: 50px;
  padding: 10px 45px;
  cursor: pointer;
}

.slide-content {
  max-width: 600px;
}

.navbar-toggler {
  font-size: 30px !important;
  color: #ffffff !important;
}

/* section: food-menu */
.food-menu {
  padding-block: 90px;
}

.food-menu .embla {
  overflow: hidden;
}
.food-menu .embla__container {
  display: flex;
}
.food-menu .embla__slide {
  flex: 0 0 25%;
  min-width: 0;
}

.food-menu .embla-menu-item {
  cursor: pointer;
  user-select: none;
  transition: all 300ms linear, padding 300ms linear;
}

.food-menu .embla-menu-item.active {
  background: var(--second-color);
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 45px;
}

.food-menu .embla-menu-item:hover {
  background: var(--second-color);
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 45px;
}

.food-menu .food-list {
  margin-top: 25px;
}

.food-menu .food-item {
  background: var(--second-color);
  border-radius: 15px;
  cursor: pointer;
}

.food-menu .food-item:hover .food-img {
  transform: scale(1.1);
}

.food-menu .food-img {
  min-width: 100%;
  height: 215px;
  border-bottom-left-radius: 45px;
  transition: transform 500ms ease, scale 500ms ease;
}

.food-menu .food-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 24px;
}

.food-menu .food-content {
  padding: 15px;
}

.food-menu .food-detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Số dòng hiển thị trước khi thêm dấu ba chấm */
  overflow: hidden;
  font-size: 15px;
  line-height: 22.5px;
}

.food-menu .btn-cart {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  transition: all 0.3s linear, background 0.3s linear;
}

.food-menu .btn-cart:hover {
  background: rgb(215, 162, 2) !important;
}

.food-menu .all-food {
  display: none;
  transition: all 0.3s linear;
}

.food-menu .show {
  display: block !important;
}

.food-menu .show-all {
  display: block;
}

/* about */
.about-section {
  background-color: var(--second-color);
}
.about-section {
  background-image: url("https://ailovei.com/wp-content/uploads/2015/02/%E3%83%94%E3%82%B6%E3%80%80%E7%94%BB%E5%83%8F58.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  border-image: fill 0 linear-gradient(#0001, #000);
}

.about-section .about-thumb {
  padding: 90px 0;
}

/* review */
.review-section {
  margin-block: 50px;
}

.reviewer img {
  border-radius: 50%;
}

.reviewer {
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 350px;
  background-color: var(--second-color);
}

.owl-prev,
.owl-next {
  background-color: var(--primary-color) !important;
  width: 30px;
  height: 30px;
  color: #ffffff !important;
  border-radius: 9999px !important;
}

/* footer */
#footer {
  padding-block: 70px 45px;
  background-color: var(--second-color);
}
